.navbar {
    position: relative;
    display: -webkit-box;
    justify-content: space-between;
    padding: .5rem 1rem;
    font-family: monospace;
    text-align: center;
    /* background: linear-gradient(60deg, magenta, #3618d8d1); */
    /* background: linear-gradient(358deg, #ff007d, #1b18d8d1);
    height: 47px; */
    /* background: linear-gradient(530deg, #ff007d, #1b18d86e); */
    /* hard lines */
    /* background: linear-gradient(355deg, #ff007d, #1b18d86e); */
    /* soft lines */
    /* background: linear-gradient(232deg, #ff007d, #1b18d8); */
    /* slow gradient, no lines */
    /* background: linear-gradient(269deg, #ff007d, #1b18d8); */
    height: 47px;
}

element.style {
    width: 100px;
    padding: 12px;
    /* margin: 0px 6px 6px; */
    text-decoration: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    display: table-cell;
    font-size: 17px;
}

body {
    margin: 0;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 52px;
    color: white;
    text-align: left;
    /* soft lines magenta */
    background: linear-gradient(526deg, #1c01f9, #cb02fa);
    /* slow gradient no lines magenta */
    /* background: linear-gradient(450deg, #1c01f9, #df01fa); */
    /* hard lines */
    /* background: linear-gradient(358deg, #ff007d, #1b18d8d1); */
    /* soft lines */
    /* background: linear-gradient(232deg, #ff007d, #1b18d8); */
    /* slow gradient, no lines */
    /* background: linear-gradient(269deg, #ff007d, #1b18d8); */
}

.h1, h1 {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 17px;
}

.h3, h3 {
    font-size: 1.75rem;
    margin-left: 37px;
    margin-top: 20px;
    padding-bottom: 1px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

#profileContent {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
}

.userForm {
    margin-top: 91px;
    margin-left: 31%;
    padding-top: 32px;
    padding-left: 35px;
    padding: 51px;
    padding-bottom: 23px;
    margin-right: 38%;
    border-color: white;
    border-width: thick;
    border-style: solid;
    background: linear-gradient( 45deg, #cb02fad4, #1b18d8d9);
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-right: 8px;
    padding-bottom: 4px;
}

#formInput {
    width: 281px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    width: auto;
    margin-left: 87%;
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 3%;
}


#profile {
    margin-left: 25%;
    margin-top: 4%;
    margin-right: 31%;
    border-color: white;
    border-width: thick;
    border-style: solid;
    background: linear-gradient( 45deg, #cc02fa9c, #1b18d88c);
    padding-left: 38px;
    padding-bottom: 30px;
    padding-top: 31px;
}

#editButton {
    padding-left: 3px;
    margin-left: 10%;
}

.checkboxes{
    margin-left: 10%;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    margin-left: 72px;
    margin-top: 1px;
}

input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
    margin-left: 79px;
    margin-top: 1px;
}

/* #prowl {
    margin-left: 12%;
    margin-top: 5%;
    border-style: solid;
} */



#all{
    margin-top: 0%;
}

dl, ol, ul {
    margin-top: 1%;
}

#prowlLi {
    margin-left: 9%;
    margin-top: 0%;
    margin-bottom: -5.5%;
}

#matchProHeader {
    margin-left: -39px;
    margin-top: -24px;
    margin-bottom: 23px;
}

#matchProLabel {
    text-align: left;   
    margin-bottom: 8px;
}

#matchProLi {
    text-align: left;
    margin-left: 10%;
    margin-top: -12px;
    margin-bottom: 6px;
}

.matchProfile {
    margin-left: 29%;
    margin-top: 2%;
    margin-right: 31%;
    border-color: white;
    border-width: thick;
    border-style: solid;
    background: linear-gradient( 45deg, #cc02fa9c, #1b18d88c);
    padding-left: 38px;
    padding-bottom: 30px;
    padding-top: 31px;
}

#likeButton {
    margin-left: 1%;
    margin-top: 0px;
    border: solid;
    padding-top: 0px;
    padding-bottom: 2px;
    position: absolute;
}

#nextButton {
    margin-left: 56%;
    border: solid;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-top: 0%;
    position: relative;
}

#count{
    margin-left: 3%;
}


#matchesButton1 {
    margin-left: 10%;
    border-style: solid;
}

#matchesButton2 {
    margin-left: 3%;
    margin-top: 2%;
    border-style: solid;
}

#incrementLabel{
    margin-left: 33%;
}